body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav {
    color: #fff;
    background-color:#2196F3; }

    .pagination li.active {
      background-color:#2196F3;
  }
  
  